extends layout
block content
  h1= title

  if (toShow == null)
      h2 No instance to Detail  
  else
  - let bookid = toShow._id
  - let booktitle = toShow.Book_title
  - let bookgenre = toShow.genre
  - let bookcost = toShow.cost
  div
    div.row
      div(class='bookAttr mr-3') Book ID is:
      div #{bookid}
    div.row
      div(class='bookAttr mr-3') Book Title is:
      div #{booktitle}
    div.row
      div(class='bookAttr mr-3') Book Genre is:
      div #{bookgenre}
    div.row
      div(class='bookAttr mr-3') Book Cost is:
      div #{bookcost}
      br
      h3() Quick access links to view or make changes
      br
      button(class="btn btn-danger m-2" onclick=`window.open('/books/delete/?id=${bookid}', '_blank')`) Delete Item
      button(class="btn btn-warning m-2" onclick=`window.open('/books/update/?id=${bookid}', '_blank')`) Update Item
      button(class="btn btn-success m-2" onclick="window.open('/books/create', '_blank');") Create new Item
      button(class="btn btn-info m-2" onclick="window.open('/books', '_blank');") Home Page 