extends layout
block content
  h1= title
  - let bookid = toShow._id
  - let booktitle = toShow.Book_title
  - let bookgenre = toShow.genre
  - let bookcost = toShow.cost
  div
    div.row
      div(class='bookAttr mr-3') Book ID is:
      div #{bookid}
    div.row
      div(class='bookAttr mr-3') Book Title is:
      div #{booktitle}
    div.row
      div(class='bookAttr mr-3') Book Genre is:
      div #{bookgenre}
    div.row
      div(class='bookAttr mr-3') Book Cost is:
      div #{bookcost}